{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="card mb-5" style="font-size: 1.2rem">
    <a class="btn btn-primary" style="margin-left: 10px; margin-right: 10px" href="{% url 'addIncome' %}">Add income</a>
    <a class="btn btn-primary mt-1" style="margin-left: 10px; margin-right: 10px" href="{% url 'getIncomes' %}">Download all incomes as pdf</a>

    <h1 class="my-3 text-center">Your incomes:</h1>

    <form method="get" style="font-size: 14px">
        <div class="well">
            <h4 class="ml-5" style="margin-top: 0">Filter</h4>
            <div class="row mx-5">
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.amount.label_tag }}
                    {% render_field filter.form.amount class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.description.label_tag }}
                    {% render_field filter.form.description class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.category.label_tag }}
                    {% render_field filter.form.category class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.payment_method.label_tag }}
                    {% render_field filter.form.payment_method class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.date.label_tag }}
                    {% render_field filter.form.date class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3 align-self-end">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </div>

        </div>
    </form>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center" style="width: 10%">Actions</th>
            <th scope="col" class="text-center" style="width: 15%">Amount</th>
            <th scope="col" class="text-center" style="width: 30%">Description</th>
            <th scope="col" class="text-center" style="width: 15%">Category</th>
            <th scope="col" class="text-center" style="width: 15%">Payment method</th>
            <th scope="col" class="text-center" style="width: 15%">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in filter.qs %}
        <tr>
            <td class="text-center" style="width: 10%">
                <a type="button" class="btn btn-primary" href="{% url 'editIncome' pk=obj.pk %}"><i
                        class="fas fa-pencil-alt"></i></a>
                <a type="button" class="btn btn-danger" href="{% url 'deleteIncome' pk=obj.pk %}"><i
                        class="fas fa-trash-alt"></i></a>
            </td>
            <td class="text-center">{{obj.amount}}</td>
            <td class="text-center">{{obj.description}}</td>
            <td class="text-center">{{obj.category}}</td>
            <td class="text-center text-capitalize">{{obj.payment_method}}</td>
            <td class="text-center">{{obj.date |date:"M d, Y"}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
