{% extends "base.html" %}
{% block content %}
<div class="card mb-5">
    <div class="card-body">
        <div style="text-align: center" class="mb-3">
            <h1 class="text-primary" style="font-size: 4em"><strong>Plan your home budget</strong></h1>
            <p>Stay up to date with your expenses.</p>
            <br>
            <br>
            <br>
            <a class="btn btn-primary" style="width:15%" href="{% url 'home' %}">Your home budget</a>
        </div>
    </div>
</div>
{% endblock %}
